In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
# creating the file paths

dssalariesdata = '/Users/katarinadouglas-blake/Desktop/DSE5002/Project 02/ds_salaries.csv'
costoflivingdata = '/Users/katarinadouglas-blake/Desktop/DSE5002/Project 02/cost_of_living.csv'
levelssalarydata = '/Users/katarinadouglas-blake/Desktop/DSE5002/Project 02/Levels_Fyi_Salary_Data.csv'


dssalaries=pd.read_csv(dssalariesdata)
costofliving=pd.read_csv(costoflivingdata)
levelssalary=pd.read_csv(levelssalarydata)

In [15]:
# data salaries summary statistics
print(dssalaries.info())
print(dssalaries.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB
None
       Unnamed: 0    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

In [17]:
# cost of living summary
print(costofliving.info())
print(costofliving.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            0 non-null      float64
 1   City                            578 non-null    object
 2   Cost of Living Index            578 non-null    float64
 3   Rent Index                      578 non-null    float64
 4   Cost of Living Plus Rent Index  578 non-null    float64
 5   Groceries Index                 578 non-null    float64
 6   Restaurant Price Index          578 non-null    float64
 7   Local Purchasing Power Index    578 non-null    float64
dtypes: float64(7), object(1)
memory usage: 36.3+ KB
None
       Rank  Cost of Living Index  Rent Index  Cost of Living Plus Rent Index  \
count   0.0            578.000000  578.000000                      578.000000
mean    NaN             57.541349   26.650657                       43.061228
std     NaN             21.656441   17.841544                       18.903751
min     NaN             18.550000    2.370000                       10.970000
25%     NaN             38.015000   12.265000                       26.145000
50%     NaN             62.405000   23.280000                       44.990000
75%     NaN             73.030000   36.615000                       55.720000
max     NaN            149.020000  108.420000                      124.220000

       Groceries Index  Restaurant Price Index  Local Purchasing Power Index
count       578.000000              578.000000                    578.000000
mean         53.566782               54.354360                     71.504481
std          22.125102               25.863557                     34.206184
min          15.220000               11.390000                      1.620000
25%          34.025000               30.447500                     42.762500
50%          52.735000               59.135000                     70.935000
75%          68.942500               73.545000                     95.682500
max         157.890000              155.220000                    172.980000

In [23]:
print(levelssalary.info())
print(levelssalary.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                62642 non-null  object
 1   company                  62637 non-null  object
 2   level                    62519 non-null  object
 3   title                    62642 non-null  object
 4   totalyearlycompensation  62642 non-null  int64
 5   location                 62642 non-null  object
 6   yearsofexperience        62642 non-null  float64
 7   yearsatcompany           62642 non-null  float64
 8   tag                      61772 non-null  object
 9   basesalary               62642 non-null  int64
 10  stockgrantvalue          62642 non-null  float64
 11  bonus                    62642 non-null  float64
 12  gender                   43102 non-null  object
 13  otherdetails             40134 non-null  object
 14  cityid                   62642 non-null  int64
 15  dmaid                    62640 non-null  float64
 16  rowNumber                62642 non-null  int64
 17  Masters_Degree           62642 non-null  int64
 18  Bachelors_Degree         62642 non-null  int64
 19  Doctorate_Degree         62642 non-null  int64
 20  Highschool               62642 non-null  int64
 21  Some_College             62642 non-null  int64
 22  Race_Asian               62642 non-null  int64
 23  Race_White               62642 non-null  int64
 24  Race_Two_Or_More         62642 non-null  int64
 25  Race_Black               62642 non-null  int64
 26  Race_Hispanic            62642 non-null  int64
 27  Race                     22427 non-null  object
 28  Education                30370 non-null  object
dtypes: float64(5), int64(14), object(10)
memory usage: 13.9+ MB
None
       totalyearlycompensation  yearsofexperience  yearsatcompany  \
count             6.264200e+04       62642.000000    62642.000000
mean              2.163004e+05           7.204135        2.702093
std               1.380337e+05           5.840375        3.263656
min               1.000000e+04           0.000000        0.000000
25%               1.350000e+05           3.000000        0.000000
50%               1.880000e+05           6.000000        2.000000
75%               2.640000e+05          10.000000        4.000000
max               4.980000e+06          69.000000       69.000000

         basesalary  stockgrantvalue           bonus        cityid  \
count  6.264200e+04     6.264200e+04    62642.000000  62642.000000
mean   1.366873e+05     5.148608e+04    19334.746588   9856.201989
std    6.136928e+04     8.187457e+04    26781.292040   6679.104563
min    0.000000e+00     0.000000e+00        0.000000      0.000000
25%    1.080000e+05     0.000000e+00     1000.000000   7369.000000
50%    1.400000e+05     2.500000e+04    14000.000000   7839.000000
75%    1.700000e+05     6.500000e+04    26000.000000  11521.000000
max    1.659870e+06     2.800000e+06  1000000.000000  47926.000000

              dmaid     rowNumber  Masters_Degree  Bachelors_Degree  \
count  62640.000000  62642.000000    62642.000000      62642.000000
mean     616.097222  41694.723732        0.245698          0.201223
std      289.843390  24488.865879        0.430504          0.400917
min        0.000000      1.000000        0.000000          0.000000
25%      506.000000  20069.250000        0.000000          0.000000
50%      807.000000  42019.000000        0.000000          0.000000
75%      807.000000  63021.750000        0.000000          0.000000
max      881.000000  83875.000000        1.000000          1.000000

       Doctorate_Degree    Highschool  Some_College    Race_Asian  \
count      62642.000000  62642.000000  62642.000000  62642.000000
mean           0.028783      0.005108      0.005667      0.187925
std            0.167196      0.071291      0.075067      0.390655
min            0.000000      0.000000      0.000000      0.000000
25%            0.000000      0.000000      0.000000      0.000000
50%            0.000000      0.000000      0.000000      0.000000
75%            0.000000      0.000000      0.000000      0.000000
max            1.000000      1.000000      1.000000      1.000000

         Race_White  Race_Two_Or_More    Race_Black  Race_Hispanic
count  62642.000000      62642.000000  62642.000000   62642.000000
mean       0.128221          0.012835      0.011015       0.018039
std        0.334338          0.112562      0.104373       0.133094
min        0.000000          0.000000      0.000000       0.000000
25%        0.000000          0.000000      0.000000       0.000000
50%        0.000000          0.000000      0.000000       0.000000
75%        0.000000          0.000000      0.000000       0.000000
max        1.000000          1.000000      1.000000       1.000000

In [59]:
# finding the avg local purchasing power index helps measure how far a salary 
# will stretch in a specific location.
average_lpp=costofliving['Local Purchasing Power Index'].mean().round()
print(average_lpp)

72.0

     effective_salary employee_residence
0        84945.972222                 DE
2       164584.201389                 GB
10       61352.500000                 FR
12       46499.444444                 FR
29      156165.937500                 CA
..                ...                ...
531      30523.437500                 CA
567      64001.736111                 GB
586               NaN                 GB
600               NaN                 CA
601               NaN                 CA

[116 rows x 2 columns]